@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Noto+Sans+KR:wght@300;400;500&display=swap");
$font-Mont: "Montserrat", sans-serif;
$font-Noto: "Noto Sans KR", sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;
$white: #fff;
$gray1: #e6e6e6;
$gray2: #d1d1d1;
$gray3: #8e8e8e;
$gray4: #828282;
$gray5: #666;
$gray6: #565656;
$gray7: #444;
$gray8: #3b3b3b;
$grayRed: #423b38;
$grayBlue: #272830;
$blue: #134ef6;
$violet: #6d2cb7;

body {
    font-family: "Noto Sans KR", sans-serif;
}

main .inner,
footer .inner {
    width: 1000px;
    margin: auto;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    .inner {
        width: 960px;
        height: 40px;
        margin: auto;
    }
    color: #666;
    font-family: 돋움, dotum, sans-serif;
}

.header-top {
    background-color: #f6f6f6;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 13.5px;
    font-weight: bold;
    .inner {
        display: flex;
        justify-content: space-between;
        .logo {
            margin-right: 31px;
        }
        .sitemenu {
            display: flex;
            text-align: center;
            li {
                width: 119px;
                border-left: 1px solid #d9d9d9;
                &:last-child {
                    width: 95px;
                }
            }
            .caribbean {
                background-color: #fff;
                height: 41px;
            }
        }
        .language-box {
            position: relative;
            ul {
                display: none;
                position: absolute;
                top: 33px;
                right: 15px;
                z-index: 1000;
                border: 1px solid $gray3;
                padding-left: 8px;
                background-color: #fbfbfb;
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 400;
                width: 104px;
                height: 66px;
                li {
                    height: 14px;
                }
            }
            img {
                width: 15px;
                height: 15px;
                margin: 5px;
                &:nth-of-type(2) {
                    width: 12px;
                    height: 12px;
                }
            }
            display: flex;
            justify-content: center;
            align-items: center;
            width: 166px;
            border-left: 1px solid #d9d9d9;
            &:hover {
                ul {
                    display: block;
                }
            }
        }
        .reservation {
            display: flex;
            li {
                width: 98px;
                text-align: center;
                color: white;
                font-size: 12px;
                &:first-child {
                    background-color: #ff8001;
                }
                &:nth-child(2) {
                    background-color: #2ebdca;
                }
                &:last-child {
                    background-color: #8a2fd5;
                }
            }
        }
    }
}

.header-middle {
    border-bottom: 3px solid #548ce0;
    height: 65px;
    .inner {
        padding-top: 12px;
        padding-bottom: 6px;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .util {
        display: flex;
        position: absolute;
        right: 0;
        margin-top: 10px;
        margin-right: 50px;
        li {
            font-size: 12px;
            margin-right: 20px;
            position: relative;
            &::after {
                content: "";
                width: 1px;
                height: 9px;
                background-color: #999;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -10px;
            }
            &:last-child::after {
                display: none;
            }
        }
    }
}

.header-bottom {
    height: 40px;
    overflow: hidden;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        top: 40px;
        left: 0;
        height: 1px;
        background-color: $gray1;
        position: absolute;
        z-index: 100001;
    }
    &:hover {
        height: 250px;
    }
    .gnb {
        display: flex;
        text-align: center;
        position: relative;
        .dep1 {
            > a {
                display: block;
                width: 240px;
                font-weight: bold;
                height: 41px;
                line-height: 41px;
                box-sizing: border-box;
                &:hover {
                    background-color: rgb(24, 165, 255);
                    color: #fff;
                }
            }
            .dep2 {
                border-left: 1px solid $gray1;
                border-right: 1px solid $gray1;
                border-collapse: collapse;
                text-align: left;
                height: 215px;
                padding: 20px;
                width: 25%;
                box-sizing: border-box;
                background: url(https://wwwcdn.everland.com/web/images/front/caribbean/main_new/bg_depth.gif)
                    left top repeat-y;
                position: absolute;
                z-index: 10000;
                top: 40px;
                li {
                    a {
                        display: block;
                        font-weight: normal;
                        margin: 12px 0;
                        font-size: 14px;
                    }
                    &:hover {
                        color: #548ce0;
                        text-decoration: underline;
                    }
                }
                img {
                    padding-top: 69px;
                    padding-left: 60px;
                }
            }
        }
        &:hover {
            .dep2 {
                display: block;
            }
        }
    }
}

.section-title {
    text-align: center;
    font-family: $font-Mont;
    font-size: 38px;
    color: #272830;
    padding: 60px 0 40px 0;
    .subtitle {
        font-family: "Noto Sans KR", Montserrat, "Malgun Gothic", Dotum,
            sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin-top: 10px;
        display: block;
    }
}

section.main-banner {
    padding-top: 150px;
    overflow: hidden;
    position: relative;
    .banner-img-area {
        position: relative;
        min-width: 1040px;
        .banner-txt-area img {
            width: 100%;
            min-width: 650px;
        }
        .banner-txt-area {
            // width: 100%;
            width: 930px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            height: 100%;
            img {
                height: 100%;
            }
        }
        .slide-btn-area {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 15px;
            .control-btn {
                display: block;
                width: 20px;
                overflow: hidden;
                height: 20px;
                background: url(../cari-img/btn_slide_control.png) no-repeat;
                margin: 0 5px;
            }
            .page-btn {
                margin: 0 3px;
                display: block;
                width: 18px;
                height: 18px;
                overflow: hidden;
                background: url(../cari-img/pagination.png) no-repeat;
                &:nth-of-type(2) {
                    background-position: bottom;
                }
            }
        }
    }
}

section.ticket-promotion {
    background-color: #f7f7f7;
    padding-bottom: 60px;
    .ticket-promotion-list {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border: 1px solid #e6e6e6;
        li {
            width: 20%;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 1px;
                height: 180px;
                background-color: $gray1;
            }
            &:last-child::after {
                display: none;
            }
            a {
                display: block;
            }
        }
    }
}
.ticket-promotion li a p:nth-of-type(1) {
    line-height: 25px;
    font-size: 14px;
    margin: 15px 0;
}
.ticket-promotion li a img {
    width: 62px;
    margin-bottom: 12px;
}
.ticket-promotion li a p:nth-of-type(2) {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
.ticket-promotion li a p:nth-of-type(3) {
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 55px;
}

.content-area {
    text-align: center;
}

.desc-btn {
    display: inline-block;
    width: 250px;
    height: 45px;
    line-height: 45px;
    padding-right: 23px;
    margin-top: 26px;
    border: 2px solid #548ce0;
    border-radius: 30px;
    box-sizing: border-box;
    background: url("../cari-img/btn_arr_black.png") no-repeat right 13px center;
    background-color: #fff;
    box-shadow: 0 5px 0 rgb(0 0 0 / 5%);
}

.information .content-area {
    display: flex;
    justify-content: space-between;
}
.information .content-area > div {
    margin: 0 4.5px;
    width: 323px;
    height: 496px;
    border: 1px solid #d9d9d9;
    border-top: 2px solid #548ce0;
}

.content-title {
    font-family: $font-Mont;
    color: $grayBlue;
    font-size: 28px;
    padding-bottom: 33px;
    position: relative;
}

.smart-content .content-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -19px;
    width: 106px;
    height: 148px;
    background: url(../cari-img/bg_smart_reservation_ico.png) no-repeat;
}

.information .content-area .content-title span {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
    display: block;
    font-family: $font-Noto;
}

.news-notice {
    padding: 37px 21px;
    box-sizing: border-box;
    position: relative;
}

.news-list {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    font-size: 15px;
}

.news-list li {
    text-align: left;
    height: 47px;
    line-height: 47px;
    border-top: 1px solid #d9d9d9;
}

.news-notice img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.today {
    padding: 37px 21px;
    box-sizing: border-box;
    .desc-btn {
        background: none;
        width: 200px;
        padding: 0;
        color: $blue;
    }
}

.today-date {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
}

.time-indoor,
.time-outdoor {
    font-family: $font-Mont;
    font-size: 33px;
    color: #134ef6;
    padding: 5px 0;
}

.today-info small {
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
    color: #423b38;
}

.close {
    color: #134ef6;
    padding: 10px 0;
}

.today-info .desc-btn {
    color: #134ef6;
    background: none;
    width: 184px;
    padding: 0;
    font-size: 15px;
    box-shadow: none;
}

.today-info dd:nth-of-type(4) {
    line-height: 1.5;
    padding: 10px;
    font-size: 15px;
}

.information .smart-content {
    border: none !important;
}

.smart-content .content-title {
    font-family: $font-Noto;
    padding: 37px 0;
    background-color: #134ef6;
    color: white;
}
.smart-reservation {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
}

.smart-reservation a {
    border: 1px solid $gray1;
    width: 50%;
    height: 81px;
    line-height: 81px;
    text-align: left;
    padding-left: 75px;
    box-sizing: border-box;
}

.utilization {
    background: url(../cari-img/ico_smart_reservation_01_01.png) no-repeat left
        20px center;
}

.baycoin {
    background: url(../cari-img/ico_smart_reservation_02_01.png) no-repeat left
        20px center;
}

.valet {
    background: url(../cari-img/ico_smart_reservation_03_01.png) no-repeat left
        20px center;
}

.village {
    background: url(../cari-img/ico_smart_reservation_04_01.png) no-repeat left
        20px center;
}

.beach-chair {
    background: url(../cari-img/ico_smart_reservation_05_01.png) no-repeat left
        20px center;
    flex: 1;
}

.traffic {
    display: flex;
    border: 1px solid #d9d9d9;
    padding: 20px;
    align-items: center;
}

.traffic-text {
    font-size: 17px;
    text-align: left;
    margin-left: 15px;
    line-height: 1.4;
}

.traffic-text .small {
    font-size: 15px;
}

.traffic-text .violet {
    color: $violet;
}

.editors-clip .section-title strong {
    background-color: #fff;
    padding: 0 66px;
}

.editors-clip .section-title {
    position: relative;
}
.editors-clip .section-title strong::before {
    content: "";
    position: absolute;
    top: 77px;
    transform: translateY(-50%);
    left: 0;
    background-color: black;
    width: 100%;
    height: 1px;
    z-index: -10;
}

.content-title p {
    margin-top: 10px;
}

.editors-clip .content-area ul {
    display: flex;
    justify-content: space-between;
}

.clip-imgbox {
    width: 215px;
    height: 215px;
    overflow: hidden;
    border-radius: 50%;
}

.editors-clip .content-area ul li:hover img {
    transform: scale(1.05);
    transition: 0.5s;
}

.editors-clip .desc-btn {
    border: 1px solid #272830;
    width: 220px;
    margin: 70px 0;
}

.clip-textbox p:first-child {
    margin-top: 20px;
    font-size: 15px;
}

.clip-textbox p:last-child {
    margin-top: 5px;
    font-size: 17px;
}

/* main 끝 */

.aside {
    position: absolute;
    right: 0;
    top: 800px;
    right: 50%;
    margin-right: -650px;
    div {
        width: 95px;
        height: 95px;
        background-color: $gray2;
        border-radius: 50%;
        text-align: center;
        color: $white;
        font-size: 14px;
        padding-top: 35px;
        box-sizing: border-box;
        margin: 10px;
    }
    .aside-promo {
        background-color: $blue;
    }
}

.footer {
    background-color: #444b55;
}
.footer-top {
    background-color: #e9e9e9;
}
.footer-top .inner {
    display: flex;
    justify-content: space-between;
}

.footer-top ul {
    display: flex;
}
.site-list-box {
    display: flex;
    color: $gray3;
    font-size: 12px;
    box-sizing: border-box;
    margin: 10px;
    a {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    img {
        width: 10px;
        padding-left: 10px;
        border-left: 1px solid $gray1;
    }
    .resort {
        width: 137px;
        margin-right: 5px;
        height: 28px;
        line-height: 28px;
        background-color: #fff;
        position: relative;
        .resort-site-list {
            display: none;
            background-color: #fff;
            color: black;
            font-family: 돋움;
            border: 1px solid $gray1;
            position: absolute;
            bottom: 25px;
            width: 100%;
            line-height: 1.4;
            padding: 8px;
            box-sizing: border-box;
        }
        &:hover {
            .resort-site-list {
                display: block;
            }
        }
    }
    .family {
        width: 188px;
        height: 28px;
        line-height: 28px;
        background-color: #fff;
        position: relative;
        .family-site-list {
            display: none;
            background-color: #fff;
            color: black;
            font-family: 돋움;
            border: 1px solid $gray1;
            position: absolute;
            bottom: 25px;
            width: 100%;
            line-height: 1.4;
            padding: 8px;
            box-sizing: border-box;
        }
        &:hover {
            .family-site-list {
                display: block;
            }
        }
    }
}

.site-list-box ul {
    // display: none;
}

.footer-bottom .inner {
    box-sizing: border-box;
    padding: 22px;
    font-family: 돋움;
    font-size: 12px;
    color: #8e8e8e;
    position: relative;
    height: 150px;
}

.footer-bottom em {
    font-style: normal;
    color: $gray2;
}

.footer-menu {
    display: flex;
    margin-bottom: 12px;
}

.footer-menu li {
    margin-right: 20px;
    position: relative;
}

.footer-menu li::after {
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    width: 2px;
    height: 7px;
    background-color: #8e8e8e;
    position: absolute;
}

.footer-menu li:last-child::after {
    display: none;
}

.footer-text > p {
    padding: 4px;
}

.footer-bottom .kg img {
    width: 79px;
    height: 70px;
    background-color: #fff;
    position: absolute;
    right: 70px;
    top: 20px;
    padding: 1px 5px 4px;
    border-radius: 6px;
}
